flask
flask-cors

opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

watchtower

aws-xray-sdk

blinker
rollbar

Flask-AWSCognito
requests

# PostGres Driver/Client for Python
psycopg[binary]
psycopg[pool]

jwt
boto3
